# Ignore __pycache__ Directory
__pycache__/

# Ignore all byte-compiled Python files. The pattern *.py[cod] matches:
# .pyc: Compiled Python files.
# .pyo: Optimized Python files.
# .pyd: Python DLL files (on Windows).
*.py[cod]
